[Desktop Entry]
Name=Vertical Clock
Comment=Clock theme for a vertical panel
Type=Service
ServiceTypes=Plasma/AdjustableClock

X-Plasma-API=adjustableclock_html

X-KDE-Library=adjustableclock_theme_digital
X-KDE-PluginInfo-Name=digital
X-KDE-PluginInfo-Author=Olaf Lenz
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
