[Desktop Entry]
Name=Adjustable Clock
Name[bg]=Настройваем часовник
Name[bs]=Podesiv sat
Name[cs]=Seřiditelné hodiny
Name[da]=Justérbart ur
Name[de]=Veränderbare Uhr
Name[el]=Ρυθμιζόμενο ρολόι
Name[en_GB]=Adjustable Clock
Name[es]=Reloj ajustable
Name[et]=Kohandatav kell
Name[fi]=Säädettävä kello
Name[fr]=Horloge ajustable
Name[ga]=Clog In-Saincheaptha
Name[gl]=Reloxo axustábel
Name[he]=שעון מתכוונן
Name[hu]=Állítható óra
Name[ia]=Horologio adaptabile
Name[km]=​នាឡិកា​​ដែល​អាច​កែ​តម្រូវ​បាន​​
Name[ms]=Jam Bolehlaras
Name[nb]=Innstillbar klokke
Name[nds]=Instellbor Klock
Name[nl]=Aanpasbare klok
Name[pa]=ਅਡਜੱਸਟਯੋਗ ਘੜੀ
Name[pl]=Dostrajany zegar
Name[pt]=Relógio Ajustável
Name[pt_BR]=Relógio ajustável
Name[ro]=Ceas ajustabil
Name[ru]=Настраиваемые часы
Name[sk]=Nastaviteľné hodiny
Name[sv]=Justerbar klocka
Name[th]=นาฬิกาที่ปรับได้
Name[tr]=Ayarlanabilir Saat
Name[uk]=Годинник з можливістю налаштування
Name[x-test]=xxAdjustable Clockxx
Name[zh_CN]=可调时钟
Name[zh_TW]=可調整時鐘

Comment=Clock with the facility of adjusting the time and date format.
Comment[bg]=Часовник с настройване формата на датата и часа
Comment[bs]=Sat kod koga se mogu podesiti format datuma i vremena
Comment[cs]=Hodiny s možností seřízení času a formátu data.
Comment[da]=Ur med mulighed for at justere format på dato og tid.
Comment[de]=Eine Uhr mit der Möglichkeit zum Verändern des Zeit- und Datumsformats.
Comment[el]=Ρολόι με λειτουργία προσαρμογής της μορφής ημερομηνίας και ώρας.
Comment[en_GB]=Clock with the facility of adjusting the time and date format.
Comment[es]=Reloj con la facilidad de ajustar el formato de fecha y hora.
Comment[et]=Kell, millel saab kohandada kellaaja ja kuupäeva vormingut.
Comment[fi]=Kello, jonka aika ja päivämääränäyttö voi säätää.
Comment[fr]=Horloge permettant de facilement ajuster le format de l'heure et de la date.
Comment[ga]=Clog atá in ann formáid an ama agus an dáta a athrú.
Comment[gl]=Reloxo coa capacidade de que se lle pode axustar o formato de hora e data.
Comment[he]=שעון עם התקן של התאמת תבנית התאריך והשעה.
Comment[hu]=Állítható idő- és dátumformátumú óra.
Comment[ia]=Horologio con le possibilitate de adaptar le formato de tempore e data.
Comment[km]=នាឡិកា​ងាយស្រួល​នៃ​​​ការ​កែតម្រូវ​ពេលវេលា​ និង​ទ្រង់​ទ្រាយ​កាលបរិច្ឆេទ​ ។​
Comment[ms]=Jam dengan kemudahan untuk menyelaraskan format tarikh dan waktu
Comment[nb]=Klokke der tid og datoformat kan justeres.
Comment[nds]=En Klock mit instellbor Tiet un Datumformaat
Comment[nl]=Klok met de mogelijkheid om de tijd- en datumindeling te wijzigen.
Comment[pl]=Zegar z możliwością dostrajania formatu czasu i daty.
Comment[pt]=Relógio com a capacidade de ajustar o formato da data e hora.
Comment[pt_BR]=Relógio com a facilidade de ajustar o formato de data e hora.
Comment[ro]=Ceas cu posibilitatea de ajustare a formatului datei și orei.
Comment[ru]=Часы с возможностью настройки формата даты и времени.
Comment[sk]=Hodiny s možnosťou nastavenia formátu dátumu a času.
Comment[sv]=Klocka med möjlighet att justera tid- och datumformat.
Comment[th]=นาฬิกาที่มีการอำนวยความสะดวกในการปรับรูปแบบวันที่และเวลา
Comment[tr]=Tarih ve saati ayarlama özelliği olan saat.
Comment[uk]=Годинник з можливістю налаштування формату часу і дати.
Comment[x-test]=xxClock with the facility of adjusting the time and date format.xx
Comment[zh_CN]=可供调节时间和日期格式的时钟。
Comment[zh_TW]=可用於調整時間與日期格式的時鐘。

Icon=chronometer
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_adjustableclock
X-KDE-PluginInfo-Author=Michał Dutkiewicz aka Emdek
X-KDE-PluginInfo-Email=emdeck@gmail.com
X-KDE-PluginInfo-Name=adjustableclock
X-KDE-PluginInfo-Version=4.1.1
X-KDE-PluginInfo-Website=http://emdek.cba.pl/
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
