[Desktop Entry]
Name=Analog
Comment=Simple analog clock
Type=Service
ServiceTypes=Plasma/AdjustableClock

X-KDE-Library=adjustableclock_theme_analog
X-KDE-PluginInfo-Name=analog
X-KDE-PluginInfo-Author=Michał Dutkiewicz
X-KDE-PluginInfo-Email=emdeck@gmail.com
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=http://emdek.pl/
X-KDE-PluginInfo-License=GPL
