[Desktop Entry]
Name=LCD Clock
Comment=LCD like clock
Type=Service
ServiceTypes=Plasma/AdjustableClock

X-KDE-Library=adjustableclock_theme_lcd
X-KDE-PluginInfo-Name=lcd
X-KDE-PluginInfo-Author=Michał Dutkiewicz
X-KDE-PluginInfo-Email=emdeck@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://emdek.pl/
X-KDE-PluginInfo-License=GPL
