[Desktop Entry]
Name=Ring Clock
Comment=Rings based clock
Type=Service
ServiceTypes=Plasma/AdjustableClock

X-KDE-Library=adjustableclock_theme_ring
X-KDE-PluginInfo-Name=ring
X-KDE-PluginInfo-Author=Michał Dutkiewicz
X-KDE-PluginInfo-Email=emdeck@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://emdek.pl/
X-KDE-PluginInfo-License=GPL
