[Desktop Entry]
Name=beClock
Comment=beClock like theme
Type=Service
ServiceTypes=Plasma/AdjustableClock

X-KDE-Library=adjustableclock_theme_beclock
X-KDE-PluginInfo-Name=beclock
X-KDE-PluginInfo-Author=Thomas Luebking,Michał Dutkiewicz
X-KDE-PluginInfo-Email=,emdeck@gmail.com
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=,http://emdek.pl/
X-KDE-PluginInfo-License=GPL
