[Desktop Entry]
Name=Verbose
Comment=More verbose clock with date
Type=Service
ServiceTypes=Plasma/AdjustableClock

X-Plasma-API=adjustableclock_html

X-KDE-Library=adjustableclock_theme_verbose
X-KDE-PluginInfo-Name=verbose
X-KDE-PluginInfo-Author=Michał Dutkiewicz
X-KDE-PluginInfo-Email=emdeck@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://emdek.pl/
