[Desktop Entry]
Name=Calendar
Comment=Calendar like theme
Type=Service
ServiceTypes=Plasma/AdjustableClock

X-Plasma-API=adjustableclock_html

X-KDE-Library=adjustableclock_theme_calendar
X-KDE-PluginInfo-Name=calendar
X-KDE-PluginInfo-Author=Michał Dutkiewicz
X-KDE-PluginInfo-Email=emdeck@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://emdek.pl/
